{% extends "::base.html.twig" %}

{% block body %}
<section>
<div class="container">
            <div class="row">
            	<div class="col-md-12">
            		<div class="panel panel-primary">
						<div class="panel-heading">
        					<h3 class="panel-title">Dokters</h3>
    					</div>
					<div class="panel-body">
        			<div class=" col-md-12 col-lg-12 ">
        				Show users with role = ROLE_DOCTER
    				</div>
    				
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
