{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{user.username}}</h3>
                        </div>							   
								<div class="panel-body">
							  		<div class=" col-md-12 col-lg-12 ">
                                		<p>naam</p>
                        			</div>
                        		</div>
							<div class="panel-footer clearfix">

                        	</div>
                	</div>
        		</div>
        	</div>
        </div>
    </section>
{% endblock %}
