<h1>Bedankt voor uw registratie, {{user.username}}</h1>
<p>U kan nu <a href="{{ url('afspraak-maken') }}">hier</a> een afspraak maken bij uw dokter</p>
<p>Met vriendelijke groeten</p>
<p>Uw dokterspraktijk</p>