{# app/Resources/views/Emails/registration.html.twig #}
<h3>{{app.user.username}}, U kan nu afspraken maken met uw account</h3>

{# example, assuming you have a route named "login" #}
Om in te loggen, ga naar: <a href="{{ url('login') }}">DoktersPraktijk</a>.

Bedankt!