{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<section>
        <div class="container">
            <div class="row">
                {% if is_granted("ROLE_USER") == false %}
                <div class="col-md-9">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    Welkom op de website van onze dokterspraktijk.
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    {% render url('fos_user_security_login') %}
                </div>
                {% else %}
                 <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    Welkom op de website van onze dokterspraktijk.
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
