/* Custom Calendar Styles
--------------------------------------------------------------------------------------------------*/

.fc-event {
    position: relative;
    display: block;
    font-size: 0.95em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    margin-top: 1px;
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
    color: #fff;
    text-decoration: none!important;
    cursor: pointer!important;
}

.fc-event[href],
.fc-event.fc-draggable {
    cursor: pointer; /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed, /* causes a "warning" cursor. applied on body */
.fc-not-allowed .fc-event { /* to override an event's custom cursor */
    cursor: not-allowed;
}

.fc-event .fc-bg { /* the generic .fc-bg already does position */
    z-index: 1;
    background: #fff;
}

.fc-event .fc-content {
    position: relative;
    z-index: 2;
}

.fc-event .fc-resizer {
    position: absolute;
    z-index: 3;
}