/* Open Sans Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('../bootstrap/fonts/OpenSans-Regular-webfont.eot');
    src: url('../bootstrap/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bootstrap/fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../bootstrap/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../bootstrap/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../bootstrap/fonts/OpenSans-Semibold-webfont.eot');
    src: url('../bootstrap/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bootstrap/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../bootstrap/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../bootstrap/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #f5f5f5;
    background-image: url('../images/background.png');
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

header#main {
    background-color: #242b32;
}

header#main .logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

header#main .logo h1 {
    margin: 0px;
}

header#main .logo h1 a {
    color: #fff;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}

header#main .logo h1 a:hover {
    text-decoration: none;
    border: 0px;
}

header#main .nav {
    padding-top: 50px;
    padding-bottom: 50px;
}

header#main .nav-pills > li {
    margin-right: 10px;
    margin-left: 0px;
}

header#main .nav-pills > li > a {
    color: #ffffff;
}

header#main .nav-pills > li:last-of-type {
    margin-right: 0px;
}

header#main .nav-pills > li > a:hover, header#main .nav-pills > li > a:focus {
    color: #ffffff;
    background-color: #2c3e50;
}

header#main .nav-pills > li.active > a{
    background-color: #37424c;
}

header#main .nav-pills > li.active > a:hover, header#main .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #2c3e50;
}

header#main .nav-pills .dropdown i {
    margin-right: 10px;
}

header#main .nav-pills .dropdown span.caret {
    margin-left: 10px;
}

header#main .nav-pills .dropdown-menu {
    padding: 0px;
    margin-top: 5px;
    min-width: 130px;
}

header#main .nav-pills .dropdown-menu li:first-of-type a {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

header#main .nav-pills .dropdown-menu li:last-of-type a {
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

header#main .nav-pills .dropdown-menu li a {
    padding: 10px;
}

header#main .nav-pills .dropdown-menu .divider {
    margin: 0px;
}

header#main .nav .open > a, header#main .nav .open>a:hover, header#main .nav .open>a:focus {
    background-color: #2c3e50;
}

header#sub {
    background-color: #37424c;
    box-shadow: inset 0px 0px 3px #111;
}

header#sub ul.breadcrumb {
    background: none;
    padding: 19px 0px;
    margin-bottom: 0px;
}

header#sub ul.breadcrumb a {
    color: #b6bfc8;
}

header#sub ul.breadcrumb a:hover, header#sub ul.breadcrumb a:focus {
    color: #ffffff;
    text-decoration: none;
}

header#sub .searchbar .form-control {
    border: 0px;
    background-color: #242b32;
    color: #b6bfc8;
    height: 35px;
    margin: 5px 0px;
    position: relative;
    left: 19px;
}

header#sub .searchbar .fa {
    color: #ffffff;
    position: relative;
    right: 10px;
}

section .panel {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-default>.panel-heading {
    background-color: #37424c;
    color: white;
}

.appointment-form .control-label {
    padding-top: 0px;
    margin-bottom: 5px;
}

.appointment-form .form-group:last-of-type {
    margin-bottom: 0px;
}

.form-control:focus {
    border-color: #18bc9c;
}

.btn-wide {
    width: 100%;
}

.login-form p {
    margin-bottom: 0px;
}

a:hover, a:focus {
    text-decoration: none;
    color: #0f9b87;
}

#captcha img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Footer */

footer{
    background-color: #2c3742;
    box-shadow: inset 0px 0px 3px #111;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 0px 3px 0px;
    bottom: 0px;
    margin-top: 50px;
}

#footer {
    position:fixed;
    width: 100%;
    z-index: 999;
}

footer .copy {
    font-size:13px;
    margin: 2px;
}
/* Search & breadcrum */
#search{
    padding-right: 0px;
    padding-left: 0px;
}


/* Navbar layout standaard */
.navbar{
    margin-bottom: 0px;
}
.navbar-brand{
    height: 100%;
    font-size: 30px;
}
.navbar-brand>img{
    display: inline;
}
.navbar-toggle .icon-bar{
    background-color: #3be6c4;
}
.navbar-toggle{
    margin-top: 25px;
}
.navbar-nav{
    text-align: center;
}
.navbar-default{
    background-color: #242b32;
}
.navbar-default .navbar-nav>li>a{
    border-radius: 5px;
    margin-right: 5px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active{
    background-color: #2c3e50;
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active{
    color: #ffffff;
}

/* Responsive CSS */

@media (max-width: 400px){
    .navbar-brand{
        font-size: 25px;
    }
}

/* Mobile phones */
@media (min-width: 768px) {
    .navbar{
        border-radius: 0px;
    }
    .navbar-brand{
        margin-bottom: 30px;
        margin-top: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-right{
        margin-top: 25px;
    }
    .container-fluid{
        text-align: center;
    }
    .navbar>.container-fluid .navbar-brand{
        margin-left: 0px;
    }
}

/* Desktop */
@media (max-width: 767px) {
    .navbar-brand{
        width: auto !important;
    }
    .navbar-toggle{
        margin-right: 10px;
    }
    #sub .pull-right{
        float: none !important;
    }
    #sub .navbar-form{
        margin: 0;
        padding:0px 20px;
        border: none;
        border-width: 0;
    }
    header#sub .searchbar .fa{
        margin-top: 15px;
        left: -25px;
    }
    #sub .navbar-form .form-group{
        display: inline-flex;
        width: 100%;
    }
    header#sub .searchbar .form-control{
        left:0;
    }
    header#sub ul.breadcrumb{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #sub .form-group>a{
        width: 0;
    }
}

@media (max-width: 992px) {
    .navbar-right{
        clear: both;
        float: none !important;
        display: inline-table;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar-brand{
        width: 100%;
    }
    .navbar-header{
        width: 100%;
    }
    #myNavbar{
        text-align: center;
    }
    .img-responsive{
        max-width: 20%;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.margin30 {
    margin-bottom: 30px;
}
.marginTop{
    margin-top: 50px;
}

/* Global Event Styles
--------------------------------------------------------------------------------------------------*/

.fc-event {
    position: relative; /* for resize handle and other inner positioning */
    display: block; /* make the <a> tag block */
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad; /* default BORDER color */
    background-color: #3a87ad; /* default BACKGROUND color */
    font-weight: normal; /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
    color: #fff; /* default TEXT color */
    text-decoration: none; /* if <a> has an href */
}

.fc-event[href],
.fc-event.fc-draggable {
    cursor: pointer; /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed, /* causes a "warning" cursor. applied on body */
.fc-not-allowed .fc-event { /* to override an event's custom cursor */
    cursor: not-allowed;
}

.fc-event .fc-bg { /* the generic .fc-bg already does position */
    z-index: 1;
    background: #fff;
}

.fc-event .fc-content {
    position: relative;
    z-index: 2;
}

.fc-event .fc-resizer {
    position: absolute;
    z-index: 3;
}