

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container marginTop">
        <div class="panel panel-default">
            <div class="panel-heading">Activeren</div>
            <div class="panel-body">
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
