{% extends "::base.html.twig" %}

{% block title %}AppBundle:Team:show{% endblock %}

{% block body %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Meet the team</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={{asset("css/infoCss.css")}} rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Meet the team</h1>
            </header>
            <section  class="person">
                <img src={{asset("images/SteffBeckers.jpg")}} class="img-cirkel" alt=""/>
                <h2>Steff Beckers</h2>
                <p>20 jaar</p>
                <div class="myInfo">
                    <p>Student Toegepaste Informatica aan de Hogeschool PXL, Hasselt met een passie voor webdesign en -ontwikkeling.</p>
                    <p>Afgestudeerd in de technische richting Multimedia aan het Technisch Heilig-Hartinstituut, Tessenderlo.</p>
                </div>
            </section>
            <section  class="person">
                <img src={{asset("images/StevenPeeters.jpeg")}} class="img-cirkel" alt=""/>
                <h2>Steven Peeters</h2>
                <p>21 jaar</p>
                <div class="myInfo">
                    <p>Mijn middelbare studies heb ik op Don Bosco TI Helchteren doorgebracht. Hier heb ik Electriciteit-Electronica gevolgd.</p>
                    <p>Op de Hogeschool PXL volg ik Toegepaste Informatica met als keuze traject applicatieontwikkeling.</p>
                </div>
            </section>
            <section  class="person">
                <img src={{asset("images/YannickLemmens.jpg")}} class="img-cirkel" alt=""/>
                <h2>Yannick Lemmens</h2>
                <p>24 jaar</p>
                <div class="myInfo">
                    <p>Afgestudeerd aan KHL - bedrijfscommunicatie/marketing</p>
                    <p>Student Toegepaste Informatica, applicatieontwikkeling aan Hogeschool PXL</p>
                </div>
            </section>
            <footer>
                <h4>This is a school project.</h4>
                <p>Made by Steff Beckers, Steven Peeters and Yannick Lemmens</p>
            </footer>
        </div>
    </body>
</html>
{% endblock %}
